body {
  font-family: Lato, sans-serif;
  z-index: 1;
}

.highlight {
  color: #6558f5;
}

.strong {
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 100px;
  color: #3e3e3e;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 56px;
}

.profileCard {
  border: 2px solid #c8d0d8;
  display: flex;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 50px 50px 50px 50px;
  border-radius: 5px;
}

.profilePicture {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 30px;
}

.kpis {
  display: flex;
}

.kpis div:first-child {
  margin-right: 30px;
}

.ctas {
  display: flex;
  justify-content: space-between;
  max-width: 704px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.ctas a {
  display: block;
  width: 48%;
  color: white;
  text-decoration: none;
  background-color: #6558f5;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
}

#opposite {
  background-color: transparent;
  border: 1px solid #6558f5;
  color: #6558f5;
}

.posts-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: space-evenly;
}

.post {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 10px;
}

.overlay {
  width: 300px;
  height: 150px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.likes,
.comments {
  color: white;
  margin: 0px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  margin-top: 50px;
  color: gray;
}

@media screen and (max-width: 480px) {
  .profilePicture {
    display: none;
  }
  h1 {
    font-size: 36px;
  }
}
