[data-href] {
    cursor: pointer;
}

.jumbotron {
  background:rgba(0,0,0,0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.jumbotron p {
  text-shadow: rgba(0,0,0,.35) 1px 1px 1px;
  text-align: center;
}

.jumbotron a {
  text-align: center;
}

hr {
  border-color: white;
  max-width: 80%
}

h1 {
  font-family: 'Barlow', sans-serif;
  font-size: 4em;
  font-weight: 800;
  margin-bottom: 6px;
  margin-top: 0;
  max-width: 1100px;
  text-shadow: rgba(0,0,0,.35) 1px 1px 1px;
  text-align: center;
}

.btn-primary {
  padding: .5rem 3rem;
  margin-top: .5rem;
  background-color: black;
  border-color: black;
}

table {
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;

}


#final-form {
margin: 0 auto;
width: 350px;
margin-bottom: 100px;
margin-top: 30px;
}

#search-form {
  margin-bottom: 20px;
}

.dropdown-item {
  cursor: pointer;
}

.hidden {
  display: none;
}

#dropdownMenuButton {
  margin-left: 10px;
}

#darkmode {
  cursor: pointer;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  #dropdownMenuButton {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
  }
  #darkmode {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
  }

  .dropdown {
    width: 100%;
  }
  #search {
    width: 100%;
  }
}

.bgimage {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
